body{
    background-color: green;
    color: white;
    font-family: arial;
}
h1{
    background-color:black;
    border: #fff, solid, 3px;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

p{
  background-color: grey;
  padding: 20px;
  margin: 50px;
}

a {
  color: green; 
  font-weight: bold; 
}

a:visited{
  color: red;
}

a:hover{
  color:yellow;
}

#warriors {
  float: right;       
  margin-right: 15px; 
  width: 150px;       
  border-radius: 10px; 
}

@media (max-width:1200px){
  #container{
    background-color: green;
    width: 800px;
  }
}

@media (max-width:992px){
  #container{
    width:100%;
  }
  #container, p{
    margin:0;
    padding:0;
    border:none;
  }
  body, h1, h2, h3, p, div{
    background-color: green !important;
    border:none;
  }
  body{
    padding:20px;
  }
}
@media (max-width:768px){
  #sidebar{
    display: none;
  }
  img{
    float:none;
    border:none;
    width:100%
  }
}