body{
    background-color: green;
    color: white;
    font-family: arial;
}
h1{
    background-color:black;
    border: #fff, solid, 3px;
    border-radius: 15px;
    padding: 20px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

#warriors {
  float: right;        /* makes the image sit on the left */
  margin-right: 15px; /* adds space between the image and text */
  width: 150px;       /* optional: set image size */
  border-radius: 10px; /* optional: rounded corners */
}